<div ng-controller="FormCtrl as fc">
    <h2>Web demo</h2>
    <p>This demonstrates Angular, Bootstrap, TypeScript and Scss.</p>
    <br/>
    <div>
        <h4>
            Bootstrap dropdown
        </h4>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{fc.subjects[fc.selection]}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu custom-menu" aria-labelledby="dropdownMenu1">
                <li class="dim">Class</li>
                <li ng-repeat="subject in fc.subjects">
                    <a href="#" ng-click="fc.selection = $index"><span class="glyphicon check-indent" ng-class="{'glyphicon-ok': fc.selection == $index}"></span> {{subject}}</a>
                </li>
            </ul>
            Selection: {{fc.selection}}
        </div>
    </div>

    <form id="helloForm" novalidate ng-hide="true">
        <h2>Hello, world!</h2>
        <div>
            <label>
                Name: <input type="text" ng-model="name" required />
            </label><br />
            Value: {{name}}
            <p>
                Is valid: {{helloForm.$valid}}
            </p>
        </div>
        <input type="submit" value="Submit" />
        <hr />
    </form>
</div>
